body {
  margin-left: 2em;
  margin-right: 2em;
}
.resume-title {
  text-align: center;
  font-size: 2.3em;
}
.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 0.5em;
}
.contact-grid > div:nth-child(even) {
  text-align: right;
}
.summary {
  margin-top: -0.3em;
  margin-bottom: 0.5em;
}
div.summary > li:nth-child(2) {
  margin-top: -0.5em;
}
div.summary > li {
  margin-left: 2.0em;
  text-indent: -1.4em;
}
.summary-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  font-size: 1.2em;
}
div.summary-grid > div:nth-child(2) {
  text-align: center;
  padding-bottom: 0.5em;
}
div.summary-grid > div:nth-child(3) {
  text-align: right;
}
sectionName {
  display: block;
  border-style: solid;
  border-color: black;
  border-top-width: 4px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 1.4em;
}
company {
  display: block;
  padding-top: 0.5em;
  font-size: 1.1em;
  text-decoration: underline;
}
.company-stack {
  visibility: visible;
  margin-top: 0.5em;
  margin-left: 1.0em;
  margin-right: 1.0em;
  padding-top: 0.5em;
  border-style: solid;
  border-color: darkgray;
  border-top-width: 1px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.stack {
  margin-top: 0.5em;
  margin-left: 1.0em;
  margin-right: 1.0em;
  padding-top: 0.5em;
  border-style: solid;
  border-color: darkgray;
  border-top-width: 1px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
brief {
  display: block;
  padding-top: 0.5em;
  padding-left: 1.0em;
  padding-right: 1.0em;
}
jdate {
  float: right;
}
jtitle {
  padding-top: 0.5em;
  display: block;
  font-size: 1.1em;
  padding-left: 0.0em;
}
jbrief {
  display: block;
  padding-top: 0.3em;
  padding-left: 1.0em;
  padding-right: 1.0em;
  padding-bottom: 1.0em;
}
.skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style-type: none;
  margin-left: 1.0em;
  padding-top: 0.3em;
  margin-bottom: 0.8em;
}
div.skills-container {
  margin-top: -0.5em;
}
div.skills > li {
  padding-left: 1.0em;
  text-indent: -1.4em;
}
.achievements {
  margin-left: 1.0em;
  padding-top: 0.3em;
}
div.achievements > li:first-child {
  margin-top: -1.0em;
}
div.achievements > li {
  padding-left: 1.0em;
  text-indent: -1.4em;
}
.job {
  margin-bottom: 1.0em;
}
.print-break {
  page-break-before: always;
}
div.job > div.achievements > li {
  padding-left: 2.0em;
  text-indent: -1.4em;
}
.tight-bottom {
  margin-bottom: -0.5em;
}
